---
const Pagetitle = "About Me"

const happy = true;
const finished = false;
const goal = 3;

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

//CSS
const h1color = "palevioletred"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Pagetitle}</title>
        <style define:vars={{h1color}}>
            h1 {
                color: var(--h1color);
            }
        </style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>

		<h1>{Pagetitle}</h1>
		<p>About the blog from  Finn.</p>

        <p>Skills: </p>

        {skills.map((skill) => <li>{skill}</li>)}

        {happy && <p>I'm Happy</p>}
        {finished && <p>I'm finished</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> :<p>My goal is not 3 days.</p>}

	</body>
</html>
